*.h5
*.tfrecords
*.pyc
*.pb
checkpoint
model-*
events.*
slurm*

graph_edges.csv
graph_vortices.csv

networks/v*/logs/train/train/
networks/v*/logs/train/validation/
networks/v*/checkpoints/assets/
networks/v*/checkpoints/variables/

data/meep/png


